<!DOCTYPE html>
<html>
  <head>
    <title>CaaS</title>
  </head>
  <body>
    <input id="myinput" type="file" accept="image/*" />
    <input id="caption" type="text" />
    <button id="button" type="button">submit</button>
    <div id="dummy"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#button").on('click', function(){
          var file = $("#myinput")[0].files[0];
          var caption = $("#caption").val();
          var reader = new FileReader();
          reader.onload = function(e){
            var data = e.target.result;
            $.ajax({
              url: "/gen",
              type: "POST",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify({
                data: data,
                caption: caption
              }),
              success: function({img_base64}){
                $("#dummy").html("");
                $("#dummy").append(`<img style="left:200px;top:100px;" src="data:image/png;base64,${img_base64}" />`);
              }
            });
          };
          reader.readAsDataURL(file);
        });

      });
    </script>
  </body>
</html>
